@font-face{
    font-family: "Roboto-Black";
    src: url("Roboto/Roboto-Black.ttf");
}

@font-face{
    font-family: "Roboto-Light";
    src: url("Roboto/Roboto-Light.ttf");
}

@font-face{
    font-family: "Roboto-Regular";
    src: url("Roboto/Roboto-Regular.ttf");
}


@font-face{
    font-family: "RobotoSlad-Black";
    src: url("RobotoSlad/RobotoSlab-Black.ttf");
}

@font-face{
    font-family: "RobotoSlad-Medium";
    src: url("RobotoSlad/RobotoSlab-Medium.ttf");
}

@font-face{
    font-family: "RobotoSlad-Regular";
    src: url("RobotoSlad/RobotoSlab-Regular.ttf");
}

@font-face{
    font-family: "RobotoSlad-Smibold";
    src: url("RobotoSlad/RobotoSlab-SemiBold.ttf");
}









